<!-- 
  file: aboutme.ejs
  name: Simran
  student id: 300991457
  date: 16 feb, 2019
 -->
<!-- about me content -->
<div class="container-fluid">

    <!-- main header section about me page -->
    <div class="hero-section">
        <div class="hero-section-overlay">
            <div class="hero-heading hero-heading-about">
                <div class="about-image">
                    <img src="../Assets/images/simran.jpg"/>
                    <h3>SIMRAN</h3>
                </div>
                <div class="hero-about-btn">
                    <a href="../Assets/files/Simran_Centennial_Resume.pdf" target="_blank" class="a-btn">Resume</a>
                </div>
            </div>
        </div>
    </div>

    <!-- body section about me page -->
    <div class="mission-statement container">
        <h1>ABOUT ME</h1>
        <p>As a graduate in Bachelor of Computer Applications, has allowed me to attain a strong foundation of technical skills. Currently, I am pursuing Advanced Diploma in Software Engineering Technology at Centennial College. I possess strong knowledge of programming languages such as C++, Java, and C#. In addition, I have knowledge in phases of software development life cycle as well as Agile and Waterfall model. Apart from that, I am highly skilled in front end technologies such as HTML, CSS, XML, JSON, Bootstrap and JavaScript. My skills include designing and developing C# and ASP.NET websites. I have solid understanding of quality assurance and Test-Driven Development</p>
    </div>
</div>