<!-- 
  file: contact.ejs
  name: Simran
  student id: 300991457
  date: 16 feb, 2019
 -->
<!-- contact page content -->
<div class="container-fluid">
    <!-- header section contact page -->
    <div class="hero-section">
        <div class="hero-section-overlay">
            <div class="hero-heading hero-heading-other">
                <div class="hero-text">
                    <h1>CONTACT</h1>
                </div>
                <div class="hero-contact-text show-color">
                    <p>SIMRAN</p>
                    <p>Toronto, Canada</p>
                    <p><a class="show-color" href="mailto:s302@my.centennialcollege.ca" target="_top">s302@my.centennialcollege.ca</a></p>
                    <p><a class="show-color" href="https://www.linkedin.com/in/simran9524" target="_blank">linkedin.com/in/simran9524</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- main body section contact page -->
    <div class="contact container">
        <!-- contact form -->
        <form>
            <div class="row">
                <div class="col-2"></div>
                <!-- first name input -->
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="First name" required>
                </div>
                <!-- last name input -->
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Last name" required>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <!-- contact number input -->
                <div class="col-4">
                    <input type="number" class="form-control" placeholder="Contact Number" required>
                </div>
                <!-- email input -->
                <div class="col-4">
                    <input type="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <!-- message input -->
                <div class="col-8">
                    <textarea class="form-control" placeholder="Message" required></textarea>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <!-- submit button -->
                <div class="col-10"><button class="btn background-color" type="submit"><a href="/">Submit</a></button></div>
            </div>
        </form>
    </div>
</div>