<div class="container-fluid">
    <div class="hero-section">
        <div class="hero-section-overlay">
            <div class="hero-heading">
                <div class="hero-text">
                    <h1>HI! I'M <span class="show-color">SIMRAN</span></h1>
                    <p>A passionate programmer, analyst and quality assurance professional.</p>
                </div>
                <div class="hero-about-btn">
                    <a href="/aboutme" class="a-btn">About Me</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mission-statement container">
        <h1>MISSION STATEMENT</h1>
        <p>Detailed-oriented individual having knowledge of software programming, testing, analysis and design; Seeking to apply technical knowledge and skills in an environment which promotes learning, development and teamwork.</p>
    </div>
</div>