<!-- 
  file: projects.ejs
  name: Simran
  student id: 300991457
  date: 16 feb, 2019
 -->
<!-- projects page content -->
<div class="container-fluid">
    <!-- header section -->
    <div class="hero-section other-hero-section">
        <div class="hero-section-overlay">
            <div class="hero-heading hero-heading-other">
                <div class="hero-text">
                    <h1>PROJECTS</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- body section -->
    <div class="project-lists container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-3 img-cols">
                <img src="../Assets/images/api.jpg"/>
            </div>
            <div class="col-7">
                <h3>Rental Service API</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Built an API using ASP.NET known as “Rentals” which stores information about rental assets.</li>
                    <li class="list-group-item">Published the API on AWS Elastic Beanstalk using the AWS toolkit for Visual Studio.</li>
                    <li class="list-group-item">Created an Amazon RDS DB instance to store and modify the data.</li>  
                </ul>
            </div>    
            <div class="col-1"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-3 img-cols">
                <img src="../Assets/images/student.jpg"/>
            </div>
            <div class="col-7">
                <h3>International Student Assistance</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Worked on Object-oriented design of an application known as “International Student Assistance”.</li>
                    <li class="list-group-item">Implemented the Agile Methodology-Iterative and incremental development.</li>
                    <li class="list-group-item">Generated Architecture Centric system by making domain class diagram and ER diagrams for the application.</li>  
                </ul>
            </div>    
            <div class="col-1"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-3 img-cols">
                <img src="../Assets/images/soccer.jpg"/>
            </div>
            <div class="col-7">
                <h3>Soccer League Website</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Built an ASP.NET web application which serves as a centralized system for all teams where clubs can view other club data, see fixtures and results.</li>
                    <li class="list-group-item">Used SQL Server to store Club and Player information.</li>
                    <li class="list-group-item">Used the Authentication and Role Management for different types of users.</li>  
                </ul>
            </div>    
            <div class="col-1"></div>
        </div>
    </div>
</div>