<div class="container-fluid">
    <div class="hero-section other-hero-section">
        <div class="hero-section-overlay">
            <div class="hero-heading hero-heading-other">
                <div class="hero-text">
                    <h1>SERVICES</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="services-lists container">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../Assets/images/web.jpg" alt="web app development">
                    <div class="card-body">
                        <h5 class="card-title">Web App Development</h5>
                        <p class="card-text">Full stack web development services</p>
                        <a href="/contact" class="btn btn-primary">Contact now</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../Assets/images/app.png" alt="mobile app development">
                    <div class="card-body">
                        <h5 class="card-title">Mobile App Development</h5>
                        <p class="card-text">Full stack mobile app development services</p>
                        <a href="/contact" class="btn btn-primary">Contact now</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../Assets/images/qa.png" alt="qa">
                    <div class="card-body">
                        <h5 class="card-title">Qaulity Assurance</h5>
                        <p class="card-text">QA and publishing services</p>
                        <a href="/contact" class="btn btn-primary">Contact now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>