<!-- 
  file: services.ejs
  name: Simran
  student id: 300991457
  date: 16 feb, 2019
 -->
<!-- services page content -->
<div class="container-fluid">
    <!-- header section -->
    <div class="hero-section other-hero-section">
        <div class="hero-section-overlay">
            <div class="hero-heading hero-heading-other">
                <div class="hero-text">
                    <h1>SERVICES</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- body section -->
    <div class="services-lists container">
        <!-- services list using bootstrap cards-->
        <div class="row">
            <div class="col-4">
                <!-- service 1 card -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../Assets/images/web.jpg" alt="web app development">
                    <div class="card-body">
                        <h5 class="card-title">Web App Development</h5>
                        <p class="card-text">Full stack web development services</p>
                        <a href="/contact" class="btn background-color">Contact now</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <!-- service 2 card -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../Assets/images/app.png" alt="mobile app development">
                    <div class="card-body">
                        <h5 class="card-title">Mobile App Development</h5>
                        <p class="card-text">Full stack mobile app development services</p>
                        <a href="/contact" class="btn background-color">Contact now</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <!-- service 3 card -->
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="../Assets/images/qa.png" alt="qa">
                    <div class="card-body">
                        <h5 class="card-title">Qaulity Assurance</h5>
                        <p class="card-text">QA and publishing services</p>
                        <a href="/contact" class="btn  background-color">Contact now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>