<% include ./partials/header.ejs %>


  <!-- Content goes here --> 

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "About Me") { %>   
        <% include ./partials/aboutme.ejs %>
      <% } %>
    </div>
  </div>

<% include ./partials/footer.ejs %>