<% include ./partials/header.ejs %>


  <!-- Content goes here --> 

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %></h1>
      <% if(title == "Contact") { %>
        <a class="btn btn-primary" href="/" role="button">Contact List</a>
      <% } %>
    </div>
  </div>

<% include ./partials/footer.ejs %>